#### 0. Import `numpy as np` and `pandas as pd` and print the pandas' version number

In [1]:
import numpy as np
import pandas as pd
print(pd.__version__)

0.24.1

## L1

#### 1. Crea una serie a partir de una lista, un array numpy y un diccionario

Input: 
```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
```

Output (head):
```
0    a
1    b
2    c
3    e
4    d
dtype: object

0    0
1    1
2    2
3    3
4    4
dtype: int64

a    0
b    1
c    2
e    3
d    4
dtype: int64
```

In [2]:
# Inputs
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

# Solution
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

print(ser1.head())
print()
print(ser2.head())
print()
print(ser3.head())
print()

0    a
1    b
2    c
3    e
4    d
dtype: object

0    0
1    1
2    2
3    3
4    4
dtype: int64

a    0
b    1
c    2
e    3
d    4
dtype: int64

#### 2. Convierte una serie en un dataframe cuyo índice es otra columna del dataset distinta a la de la serie

Input:
```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

Output (head):
```
  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
```

In [12]:
import numpy as np
import pandas as pd
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

#### 3. Combina dos series en un dataframe

Input:
```
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
```

Output (head(10)):
```
	0	1
0	a	0
1	b	1
2	c	2
3	e	3
4	d	4
5	f	5
6	g	6
7	h	7
8	i	8
9	j	9
```

In [4]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

pd.concat([ser1, ser2], axis=1).head(10)

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4
5  f  5
6  g  6
7  h  7
8  i  8
9  j  9

#### 4. Calcular la diferencia de las diferencias entre números consecutivos de una serie

Input:
```
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
```

Output:
```
[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]
```

In [5]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

#### 5. Importar sólo las columnas `crim` y `medv` del dataset BostonHousing

Input:
```
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
```

Output (head):
```
      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2
```

In [6]:
url = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'

df = pd.read_csv(url, usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

#### 6.1 BostonHousing: ¿Qué fabricante, modelo y tipo tienen el precio más alto?

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
Mercedes-Benz	300E	Midsize
```

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

# Get Manufacturer with highest price
df.loc[df.Price == np.max(df.Price), ['Manufacturer', 'Model', 'Type', 'Price']]

     Manufacturer Model     Type  Price
58  Mercedes-Benz  300E  Midsize   61.9

#### 6.2 BostonHousing: ¿Cuál es el índice de la fila y columna de la celda con el mayor precio del paso anterior?

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
58, 4
```

In [8]:
# Get Row and Column number
row, col = np.where(df.values == np.max(df.Price))
print(row[0], col[0])

58 4

#### 7. BostonHousing: Filtra el fabricante, modelo y tipo de cada 20 filas empezando por la primera (fila 0)

Input:
```
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
```

Output:
```
   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small
```

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

#### 8. Calcula el precio medio de cada fruta manteniendo el índice

Input:
```
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})
```

Output:
```
    fruit     price
0   apple  5.333333
1  banana  8.666667
2  orange  2.666667
```

In [10]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'rating': np.random.rand(9),
                   'price': np.random.randint(0, 15, 9)})

out = df.groupby('fruit', as_index=False)['price'].mean()
print(out)

    fruit     price
0   apple  9.666667
1  banana  7.333333
2  orange  4.000000

#### 9. Obtén los elementos que se encuentran en las filas indicadas en `list_pos`

Input:
```
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
```

Output:
```
0     a
4     e
8     i
14    o
20    u
dtype: object
```

In [11]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

## L2

#### 10. Elimina de ser1 los items de ser2

Input:
```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

Output:
```
0    1
1    2
2    3
dtype: int64
```

In [12]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

#### 11. Obtén los elementos no comunes entre 2 series

Input:
```
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
```

Output:
```
0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64
```

In [13]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

#### 12. Obtener el mínimo, percentil 25, mediana, percentil 75, y máximo valor de un set

Input:
```
ser = pd.Series(np.random.normal(10, 5, 25))
```

Output:
```
array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])
```
(*) Los valores pueden variar al ser random

In [15]:
ser = pd.Series(np.random.normal(10, 5, 25))

# Solution
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-2.20053567,  5.10692438,  9.77501536, 11.59371045, 20.08666502])

#### 13. Dada una serie, mantener los 2 valores más frecuentes y sustituir el resto por el valor `Other`

Input:
```
ser = pd.Series(np.random.randint(1, 5, [12]))
```

Output:
```
Top Freq: 
4    5
3    3
2    2
1    2
dtype: int64

Result:
0     Other
1     Other
2         3
3         4
4     Other
5         4
```
(*) Los valores pueden variar al ser random

In [19]:
ser = pd.Series(np.random.randint(1, 5, [12]))

print(f'Top Freq:\n{ser.value_counts()}\n')
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

print(ser)

Top Freq:
2    4
3    3
1    3
4    2
dtype: int64

0     Other
1         2
2         2
3         3
4     Other
5         3
6         2
7     Other
8         3
9         2
10    Other
11    Other
dtype: object

#### 14. Coloca la serie en 10 grupos de 10 elementos iguales y reemplaza los valores con el nombre del grupo

Input
```
ser = pd.Series(np.random.random(20))
```

Output:
```
# First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]
```
(*) Los valores pueden variar al ser random

In [21]:
ser = pd.Series(np.random.random(20))
print(ser.head())

pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    0.305319
1    0.004122
2    0.604869
3    0.502177
4    0.127109
dtype: float64

0    5th
1    1st
2    7th
3    6th
4    2nd
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

#### 15. Crear 2 nuevas columnas en df, una con el lag1 (el valor de la columna `a` en la fila siguiente a cada celda) y la otra con el lead1 (valor de la columna `b` en la fila anterior a cada celda)

Input:
```
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

    a   b   c   d
0  66  34  76  47
1  20  86  10  81
2  75  73  51  28
3   1   1   9  83
4  30  47  67   4
```

Output:
```
    a   b   c   d  a_lag1  b_lead1
0  66  34  76  47     NaN     86.0
1  20  86  10  81    66.0     73.0
2  75  73  51  28    20.0      1.0
3   1   1   9  83    75.0     47.0
4  30  47  67   4     1.0      NaN
```
(*) Los valores pueden variar al ser random

In [23]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)
print(df)

    a   b   c   d  a_lag1  b_lead1
0  46  52  82  68     NaN     44.0
1  43  44  71  67    46.0     75.0
2  37  75  56  60    43.0     77.0
3  96  77  18  61    37.0     46.0
4  36  46  13  89    96.0      NaN

#### 16. Encontrar el 2º valor más alto para la columna `taste` en `bananas`

Input:
```
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'price': np.random.randint(0, 15, 9),
                   'taste': np.random.rand(9)})
```

Output:
```
    fruit  price     taste
0   apple      7  0.190229
1  banana      2  0.438063
2  orange      1  0.860182
3   apple      6  0.042149
4  banana      2  0.896021
5  orange      5  0.255107
6   apple      6  0.874533
7  banana      4  0.696274
8  orange      9  0.140713

0.69627423645996078
```
(*) Los valores pueden variar al ser random

In [29]:
df = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                   'price': np.random.randint(0, 15, 9),
                   'taste': np.random.rand(9)})
print(df)

df_grpd = df['taste'].groupby(df.fruit)
df_grpd.get_group('banana').sort_values().iloc[-2]

    fruit  price     taste
0   apple     13  0.972968
1  banana      9  0.273028
2  orange      2  0.050930
3   apple      0  0.093501
4  banana      4  0.477334
5  orange      6  0.974153
6   apple     10  0.680088
7  banana     12  0.748994
8  orange      0  0.532081

0.477333625073152

#### 17. Reemplaza los valores de las diagonales por el valor `0`

Input:
```
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

    0   1   2   3   4   5   6   7   8   9
0  11  46  26  44  11  62  18  70  68  26
1  87  71  52  50  81  43  83  39   3  59
2  47  76  93  77  73   2   2  16  14  26
3  64  18  74  22  16  37  60   8  66  39
4  10  18  39  98  25   8  32   6   3  29
5  29  91  27  86  23  84  28  31  97  10
6  37  71  70  65   4  72  82  89  12  97
7  65  22  97  75  17  10  43  78  12  77
8  47  57  96  55  17  83  61  85  26  86
9  76  80  28  45  77  12  67  80   7  63
```
Output:
```
    0   1   2   3   4   5   6   7   8   9
0   0  46  26  44  11  62  18  70  68   0
1  87   0  52  50  81  43  83  39   0  59
2  47  76   0  77  73   2   2   0  14  26
3  64  18  74   0  16  37   0   8  66  39
4  10  18  39  98   0   0  32   6   3  29
5  29  91  27  86   0   0  28  31  97  10
6  37  71  70   0   4  72   0  89  12  97
7  65  22   0  75  17  10  43   0  12  77
8  47   0  96  55  17  83  61  85   0  86
9   0  80  28  45  77  12  67  80   7   0
```
(*) Los valores pueden variar al ser random

In [31]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))

for i in range(df.shape[0]):
    df.iat[i, i] = 0
    df.iat[df.shape[0]-i-1, i] = 0
    
df

    0   1   2   3   4   5   6   7   8   9
0   0  94  50  71   5  36  51  73  11   0
1  91   0  82  21  53   3  16  23   0  56
2  70  36   0  36  32  61  32   0  48   2
3  56  70  16   0  36  74   0  32  85  75
4  33  20  77  33   0   0  32   4  36  55
5   1  12  31  24   0   0  49  34  12  32
6  65  23  11   0  41  88   0  75  40  61
7  42  77   0  30  72  68  26   0  10  40
8  33   0  15  69   2  46  85  14   0  62
9   0  98  12  72  64  45  95  11  86   0

#### 18. Añade una columna que contenga el mínimo y otra que contenga el máximo valor por fila

Input:
```
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
```

Output:
```
     0    1    2    3    4    5    6    7    8    9  min   max
0   56   55   58   77   89   98   17   24   39   10   10   98
1   43   51   97   32   78   64   91   73   52   50   32   97
2   46   84   80   78   12    9   18    5   45   97    5   97
3   66   73   45   27   11   67   56   48   89   49   11   89
4   37   15   55    5   95    5   81   36   77   59    5   95
5   93    1   64   83   97   67   45   53   42   45    1   97
6   14   27   46   70   13   83   41   72   72   93   13   93
7   97   30   74   66   25   95   12   75   11   67   11   97
```
(*) Los valores pueden variar al ser random

In [36]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df['min'] = np.min(df, axis=1)
df['max'] = np.max(df, axis=1)

df

    0   1   2   3   4   5   6   7   8   9  min  max
0  73  98  49  54  57  12  46  72  42  97   12   98
1  54  74   5  67  77   8  58  51  73  51    5   77
2  59  11  59  85  93  77  40  53  47  47   11   93
3  51  62  61   6  39   7  13  16  90  81    6   90
4  24  88  14  11  68  69  76  40  68  93   11   93
5  86  39  27  61  84  21   7  59  43  70    7   86
6  73  64  28  95  74  13  75  52  39  32   13   95
7   6  43  37  20  26  28  30  53  39  35    6   53

#### 19. Invierte el orden de las filas del dataset

Input:
```
df = pd.DataFrame(np.arange(25).reshape(5, -1))
```

Output:
```
Original:
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Reverse:
0	1	2	3	4
4	20	21	22	23	24
3	15	16	17	18	19
2	10	11	12	13	14
1	5	6	7	8	9
0	0	1	2	3	4
```

In [41]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
print(f'Original:\n{df}\n')

print(f'Reverse:\n{df.iloc[::-1, :]}\n')

Original:
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Reverse:
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

## Créditos y más ejercicios [aquí](https://www.machinelearningplus.com/python/101-pandas-exercises-python/)